@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* general */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* clearfix */
.group:before, .container:before,
.group:after, .container:after {
    content: " ";
    display: table;
}

i {
    cursor: pointer;
}

.group:after, .container:after {
    clear: both;
}

body {
    background: url("http://localhost/adventure/public/img/");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    text-align: center;

}

.checkbox {
    color: #595959;
    margin-top: 1em;
    margin-left: .1em;
    margin-right: .5em;
    display: inline-block;
    padding-left: 15px;

}

h3 {
    background: rgba(242, 242, 242, .9);
    display: inline-block;
    padding: .5em;
    border-radius: 9px;
    margin-top: 1em;
}

.edit-links i {
    font-size: small;
    padding-left: .7em;
}

.edit-links a:hover,
.edit-links a:focus {
    text-decoration: none;
}


.red {
    color: red;

}


.dude {
    background: rgba(242, 242, 242, .9);
    margin-top: 2em;
    border-radius: 9px;
    padding: 1em;
    font-size: 17px;

}

.add-dude {

    background: rgba(242, 242, 242, .9);
    margin-top: 4em;
    padding: 2em 0;
    border-radius: 9px;
}

.logo {
    font-size: 250%;
    letter-spacing: 2px;
    font-style: italic;
    text-shadow: 1px 2px 1px grey;
    color: #f2f2f2;
}

.logo:hover {
    color: #f2f2f2;
    text-decoration: none;
}

.dude a {
    color: #595959;
}

.comments-list {
    font-size: 1em;
    list-style: none;
    text-align: left;
    padding: 0;
}

.comments-list li {

    margin-bottom: .5em;
    border-radius: 9px;

    background: rgba(242, 242, 242, .9);
    padding: 1em;

}

.edit-dude {
    background: white;
    margin-top: 3em;
}

.comment a {
    background: grey;
    padding: .5em;
    border-radius: 3px;
}

.alert-success {
    color: #1d643b;
    background-color: #d7f3e3;
    border-color: #c7eed8;
    font-size: large;
    position: fixed;
    right: 2em;
    bottom: 4em;
    width: 350px;
}

.info {
    background: rgba(242, 242, 242, .9);
    border-radius: 9px;
    padding: 1em 0;
}

.info p {
    font-size: 120%;
}

.comments-list time {
    margin-left: 1em;
    font-size: small;
    float: right;
}

.comments-list i {
   float: right;
    margin-left: 1em;
    font-size: .8em;
}

.comments-list a {

    color: grey;
}

.card {
    background: rgba(242, 242, 242, .9);
}

img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

strong {
    color: #f9c029;
    font-weight: bold;
    padding-left: 10px;
}

h1 {
    padding-bottom: 1em;
    border-bottom: 1px solid white;
}


article {
    color: #fff;
    font-size: 17px;
    font-weight: normal;
    background: #9F3FA3;
    border-radius: 9px;
    margin-bottom: 25px;
    margin-top: 1em;
    /*min-height: 320px;*/

    float: left;
    width: 19.2%;

    padding: 40px 14px;
    margin-right: 1%;
}



article h4 {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 15px;
}

article p {
    /*margin-bottom: 0;*/
    font-weight: 300;
}

article {
    opacity: .9;
}

article a,
article a:hover {
    color: #fff;
}

article:nth-child(1) { background: #3b9ae1;  }
article:nth-child(2) { background: #f6be00; }
article:nth-child(3) { background: #e64134; }
article:nth-child(4) { background: #eb70b1; }
article:nth-child(5) { background: #0f1a5f; margin-right: 0; }

.comments {
    height: 40px;
    line-height: 37px;
    width: 40px;
    background: url('chat_b.svg') 0 0 no-repeat;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 15px;
}


/* media queries */
@media screen and ( max-width: 820px ) {

    article {
        width: 49.5%; /* 2 elementy su vedla seba, to je 100%, ale medzi nimi je 1% margin, cize 99/2 = 49.5% */
        margin-bottom: 1%;
        min-height: 260px; /* uz mozu byt o nieco nizsie */
    }

    article:nth-child(2),
    article:nth-child(3) {
        margin-right: 0; /* pri druhom a tretom elemente nechceme pravy margin, lebo teraz su na kraji */
    }

    article:nth-child(3) {
        width: 100%; /* treti element je na cely riadok */
    }

}

@media screen and ( max-width: 560px ) {

    article {
        /* uz ziadne marginy */
        margin-right: 0;

        /* elementy budu na celu sirku, pod sebou, ziadne floaty */
        width: 100%;
        float: none;

        /* uz im nebudeme nastavovat minimalnu vysku */
        min-height: 0;
    }

}

